internalAMS/force-app/main/default/flows/Change_Asset_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Status_Changed</name>
        <label>Is Status Changed</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under_Maintenance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Maintenance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Status_Changed_To_Under_Maintenance</targetReference>
            </connector>
            <label>Under Maintenance</label>
        </rules>
        <rules>
            <name>Maintenance_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Maintenance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Status_Changed_To_Not_Assigned</targetReference>
            </connector>
            <label>Maintenance Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change Asset status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Asset status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Asset_Status_Changed_To_Not_Assigned</name>
        <label>Asset Status Changed To Not Assigned</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assets__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Status__c</field>
            <value>
                <stringValue>Not Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Status_Changed_To_Under_Maintenance</name>
        <label>Asset Status Changed To Under Maintenance</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assets__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Status__c</field>
            <value>
                <stringValue>Under Maintenance</stringValue>
            </value>
        </inputAssignments>
        <object>Asset__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status_Changed</targetReference>
        </connector>
        <object>Maintenance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
