internalAMS/force-app/main/default/flows/Create_Maintenance_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_For_Date</name>
        <label>Check For Date</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Date_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Previous_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Maintenance.Maintenance_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CheckPreviousDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Date_Error</targetReference>
            </connector>
            <label>Check Previous Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Maintenance</name>
        <label>Check For Maintenance</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Maintenance_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_In_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Asset_Record.Asset_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Already In Maintenance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckPreviousDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Create Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Maintenance Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Maintenance</name>
        <label>Create Maintenance</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <targetReference>Check_For_Date</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Assets__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Name__c</field>
            <value>
                <elementReference>Maintenance.Maintenance_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Start_Date__c</field>
            <value>
                <elementReference>Maintenance.Maintenance_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Status__c</field>
            <value>
                <elementReference>Maintenance.Maintenance_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Type__c</field>
            <value>
                <elementReference>Maintenance.Maintenance_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Maintenance.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Maintenance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Asset_Record</name>
        <label>Get Current Asset Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Maintenance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Maintenance_Screen</name>
        <label>Create Maintenance Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Maintenance</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Maintenance.Maintenance_Name__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Maintenance.Maintenance_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Maintenance.Maintenance_Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Maintenance.Priority__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Maintenance.Maintenance_Start_Date__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Date_Error_Screen</name>
        <label>Date Error Screen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;ERROR : This Asset is already under maintenance&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyUnderMaintenance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;ERROR : This Asset is already under maintenance&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Date_Error</name>
        <label>Previous Date Error</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PreviousDateError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(231, 7, 7);&quot;&gt;ERROR: Maintenance start date cannot be a previous date&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Asset_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Maintenance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
