internalAMS/force-app/main/default/flows/Email_Before_Maintenance_Is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Mail_To_Bangalore_Maintenance_Co_ordinator</name>
        <label>Mail To Bangalore Maintenance Co-ordinator</label>
        <locationX>1496</locationX>
        <locationY>684</locationY>
        <actionName>Asset__c.Maintenance_Co_ordinator_From_Bangalore</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assignment_For_Maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Asset__c.Maintenance_Co_ordinator_From_Bangalore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Mail_To_Dubai_Maintenance_Co_ordinator</name>
        <label>Mail To Dubai Maintenance Co-ordinator</label>
        <locationX>1760</locationX>
        <locationY>684</locationY>
        <actionName>Asset__c.Maintenance_Co_ordinator_From_Dubai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assignment_For_Maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Asset__c.Maintenance_Co_ordinator_From_Dubai</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Mail_To_Hyderabad_Maintenance_Co_ordinator</name>
        <label>Mail To Hyderabad Maintenance Co-ordinator</label>
        <locationX>1232</locationX>
        <locationY>684</locationY>
        <actionName>Asset__c.Maintenance_Co_ordinator_From_Hyderabad</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assignment_For_Maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Asset__c.Maintenance_Co_ordinator_From_Hyderabad</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_To_Bangalore_Maintenance_Co_ordinator</name>
        <label>Mail To Bangalore Maintenance Co-ordinator</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <actionName>Asset__c.Maintenance_Co_ordinator_From_Bangalore</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Asset__c.Maintenance_Co_ordinator_From_Bangalore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_To_Dubai_Maintenance_Co_ordinator</name>
        <label>Mail To Dubai Maintenance Co-ordinator</label>
        <locationX>792</locationX>
        <locationY>684</locationY>
        <actionName>Asset__c.Maintenance_Co_ordinator_From_Dubai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Asset__c.Maintenance_Co_ordinator_From_Dubai</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_To_Hyderabad_Maintenance_Co_ordinator</name>
        <label>Mail To Hyderabad Maintenance Co-ordinator</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>Asset__c.Maintenance_Co_ordinator_From_Hyderabad</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Asset__c.Maintenance_Co_ordinator_From_Hyderabad</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_For_Maintenance</name>
        <label>Assignment For Maintenance</label>
        <locationX>1628</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>MaintenanceItem.Assets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Assets_For_Maintenance.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceItem.Maintenance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaintenanceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaintenanceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Location_Of_Maintenance</name>
        <label>Location Of Maintenance</label>
        <locationX>1628</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Maintenance_In_Hyderabad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Assets_For_Maintenance.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mail_To_Hyderabad_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Maintenance In Hyderabad</label>
        </rules>
        <rules>
            <name>Copy_1_of_Maintenance_In_Bangalore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Assets_For_Maintenance.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangalore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mail_To_Bangalore_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Maintenance In Bangalore</label>
        </rules>
        <rules>
            <name>Copy_1_of_Maintenance_In_Dubai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Assets_For_Maintenance.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mail_To_Dubai_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Maintenance In Dubai</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Email_Generation_Before_Maintenance</name>
        <label>Decision for Email Generation Before Maintenance</label>
        <locationX>1430</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_Days_Before_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_For_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Of_Maintenance</targetReference>
            </connector>
            <label>2 Days Before Maintenance</label>
        </rules>
        <rules>
            <name>X1_Day_Before_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_For_Maintenance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Location_Of_Maintenance</targetReference>
            </connector>
            <label>1 Day Before Maintenance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Of_Maintenance</name>
        <label>Location Of Maintenance</label>
        <locationX>660</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maintenance_In_Hyderabad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Assets_For_Maintenance.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_To_Hyderabad_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Maintenance In Hyderabad</label>
        </rules>
        <rules>
            <name>Maintenance_In_Bangalore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Assets_For_Maintenance.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangalore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_To_Bangalore_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Maintenance In Bangalore</label>
        </rules>
        <rules>
            <name>Maintenance_In_Dubai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Assets_For_Maintenance.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_To_Dubai_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Maintenance In Dubai</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_For_Maintenance</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Over_Assets_For_Maintenance.Next_Maintance_Date__c}-today()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Before Maintenance Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Before Maintenance Is Created</label>
    <loops>
        <name>Loop_Over_Assets_For_Maintenance</name>
        <label>Loop Over Assets For Maintenance</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Asset_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_Email_Generation_Before_Maintenance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_Maintenance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_Maintenance</name>
        <label>Creating Maintenance</label>
        <locationX>176</locationX>
        <locationY>1152</locationY>
        <inputReference>MaintenanceList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Records</name>
        <label>Get Asset Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Assets_For_Maintenance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Maintance_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Asset_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Disposed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-25</startDate>
            <startTime>11:37:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MaintenanceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MaintenanceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance__c</objectType>
    </variables>
    <variables>
        <name>MaintenanceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance__c</objectType>
    </variables>
    <variables>
        <name>number</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
