internalAMS/force-app/main/default/flows/Mail_to_Maintenance_Co_ordinator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailtoHyderabad_Maintenance_Co_ordinator</name>
        <label>Email to Hyderabad Maintenance Co-ordinator</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Hyderabad_Maintenance_Co_ordinator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Hyderabad_Maintenance_Co_ordinator_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailtoMaintenanceSkip_Alert_to_Hyderabad_Co_ordinator</name>
        <label>Maintenance Skip Alert to Hyderabad Co-ordinator</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Maintenance_Skip_Alert_to_Hyderabad_Co_ordinator</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Changed_to_Skipped</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Maintenance_Skip_Alert_to_Hyderabad_Co_ordinator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>mail_to_Banglore_Maintenance_Co_ordinator_Alert</name>
        <label>mail to Banglore Maintenance Co-ordinator Alert</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Banglore_Maintenance_Co_ordinator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Banglore_Maintenance_Co_ordinator_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_to_Banglore_MaintenanceCoordinator</name>
        <label>Mail to Banglore Maintenance Co-ordinator</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Banglore_Maintenance_Co_ordinator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Banglore_Maintenance_Co_ordinator_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_to_BangloreMaintenance_Co_ordinator</name>
        <label>Mail to Banglore Maintenance Co-ordinator</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Dubai_Maintenance_Co_ordinator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Dubai_Maintenance_Co_ordinator_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_to_Dubai_Maintenance_Co_ordinator_Alert</name>
        <label>Mail to Dubai Maintenance Co-ordinator Alert</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Dubai_Maintenance_Co_ordinator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Dubai_Maintenance_Co_ordinator_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_to_Hyderabad_Maintenance_Co_ordinator_Alert</name>
        <label>Mail to Hyderabad Maintenance Co-ordinator Alert</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Hyderabad_Maintenance_Co_ordinator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Hyderabad_Maintenance_Co_ordinator_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Mail_to_Maintenance_Skip_Alert_to_BangaloreCoordinator</name>
        <label>Maintenance Skip Alert to Bangalore Co-ordinator</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Maintenance_Skip_Alert_to_Bangalore_Co_ordinator</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Changed_to_Skipped</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Maintenance_Skip_Alert_to_Bangalore_Co_ordinator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Maintenance_Skip_Mail_to_DubaiCo_ordinator</name>
        <label>Maintenance Skip Mail to DubaiCo-ordinator</label>
        <locationX>2690</locationX>
        <locationY>384</locationY>
        <actionName>Maintenance__c.Maintenance_Skip_Alert_to_DubaiCo_ordinator</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Changed_to_Skipped</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Maintenance__c.Maintenance_Skip_Alert_to_DubaiCo_ordinator</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Id_M</name>
        <label>Id M</label>
        <locationX>2558</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Maintenance_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>teesrt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Skipped_Data_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Not_Received_For_Maintenances</name>
        <label>Asset_Not_Received_For_Maintenances</label>
        <locationX>1502</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hyderabad_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailtoHyderabad_Maintenance_Co_ordinator</targetReference>
            </connector>
            <label>Hyderabad</label>
        </rules>
        <rules>
            <name>Bangelore_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangalore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_to_Banglore_MaintenanceCoordinator</targetReference>
            </connector>
            <label>Bangelore</label>
        </rules>
        <rules>
            <name>Dubai_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_to_BangloreMaintenance_Co_ordinator</targetReference>
            </connector>
            <label>Dubai</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_Received_For_Maintenance</name>
        <label>Asset_Not_Received_For_Maintenance</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hyderabad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_to_Hyderabad_Maintenance_Co_ordinator_Alert</targetReference>
            </connector>
            <label>Hyderabad</label>
        </rules>
        <rules>
            <name>Dubai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_to_Dubai_Maintenance_Co_ordinator_Alert</targetReference>
            </connector>
            <label>Dubai</label>
        </rules>
        <rules>
            <name>Bangalore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangalore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mail_to_Banglore_Maintenance_Co_ordinator_Alert</targetReference>
            </connector>
            <label>Bangalore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Box_Checking</name>
        <label>Asset_Not_Received_For_Maintenance</label>
        <locationX>2558</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Status_Changed_to_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hyderbads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hyderabad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailtoMaintenanceSkip_Alert_to_Hyderabad_Co_ordinator</targetReference>
            </connector>
            <label>Hyderbad</label>
        </rules>
        <rules>
            <name>Bangalores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangalore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mail_to_Maintenance_Skip_Alert_to_BangaloreCoordinator</targetReference>
            </connector>
            <label>Bangalore</label>
        </rules>
        <rules>
            <name>Dubais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assets__r.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Maintenance_Skip_Mail_to_DubaiCo_ordinator</targetReference>
            </connector>
            <label>Dubai</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>previousskippeddata</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp; &quot; , &quot; &amp; {!$Record.Assets__r.Skipped_Maintenances__c}</expression>
    </formulas>
    <formulas>
        <name>Skipped_Data</name>
        <dataType>String</dataType>
        <expression>left({!teesrt},6)</expression>
    </formulas>
    <interviewLabel>Message to Co-ordinator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mail to Maintenance Co-ordinator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Asset_Skipped_Data_Update</name>
        <label>Asset Skipped Data Update</label>
        <locationX>2558</locationX>
        <locationY>792</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assets__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skipped_Maintenances__c</field>
            <value>
                <elementReference>Maintenance_id</elementReference>
            </value>
        </inputAssignments>
        <object>Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Changed_to_Skipped</name>
        <label>Status Changed to Skipped</label>
        <locationX>2558</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Id_M</targetReference>
        </connector>
        <inputAssignments>
            <field>Maintenance_Status__c</field>
            <value>
                <stringValue>Maintenance Skipped</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <object>Maintenance__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Message_to_Co_ordinator_After_2_days</name>
            <connector>
                <targetReference>Asset_Received_For_Maintenance</targetReference>
            </connector>
            <label>Message to Co-ordinator After 2 days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Message_to_Co_ordinator_After_4_days</name>
            <connector>
                <targetReference>Asset_Not_Received_For_Maintenances</targetReference>
            </connector>
            <label>Message to Co-ordinator After 4 days</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Message_to_Co_ordinator_After_6_days</name>
            <connector>
                <targetReference>Check_Box_Checking</targetReference>
            </connector>
            <label>Message to Co-ordinator After 6 days</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>teesrt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name},{!$Record.Assets__r.Skipped_Maintenances__c}</text>
    </textTemplates>
    <variables>
        <name>list</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Maintenance_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
