internalAMS/force-app/main/default/flows/Maintenance_Email_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_about_maintenance</name>
        <label>email about maintenance</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_for_asset_maintenance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_user.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Regarding the Asset Maintenance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailformaintenance</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>email_about_maintenance_before_day</name>
        <label>email about maintenance before day</label>
        <locationX>528</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>maintenance_assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>get_user.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Regarding the Asset Maintenance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailformaintenance</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>maintenance_assignment</name>
        <label>maintenance assignment</label>
        <locationX>528</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>maintenanceitem.Assets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_for_asset_maintenance.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maintenanceitem.Maintenance_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maintenancelist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>maintenanceitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_asset_maintenance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>email_generation_before_the_maintenance</name>
        <label>email generation before the maintenance</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>loop_for_asset_maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2days_before_maintenance_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateformaintenace</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Number_2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_about_maintenance</targetReference>
            </connector>
            <label>2days before maintenance creation</label>
        </rules>
        <rules>
            <name>X1_day_before_maintenance_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateformaintenace</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_about_maintenance_before_day</targetReference>
            </connector>
            <label>1 day before maintenance creation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateformaintenace</name>
        <dataType>Number</dataType>
        <expression>{!loop_for_asset_maintenance.Next_Maintance_Date__c}-today()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Maintenance Email Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maintenance Email Generation</label>
    <loops>
        <name>loop_for_asset_maintenance</name>
        <label>loop for asset maintenance</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>get_asset_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>email_generation_before_the_maintenance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Maintanance_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Maintanance_Insert</name>
        <label>Maintanance Insert</label>
        <locationX>176</locationX>
        <locationY>1176</locationY>
        <inputReference>maintenancelist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_asset_records</name>
        <label>get asset records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_maintenance_coordinator_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Maintance_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_maintenance_coordinator_details</name>
        <label>get maintenance coordinator details</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Maintenance_Co_ordinator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user</name>
        <label>get user</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_asset_maintenance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_maintenance_coordinator_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_asset_records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-17</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>email_before_2_days_to_maintenance_coordinator</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!get_maintenance_coordinator_details.Id}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailformaintenance</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!get_maintenance_coordinator_details.Name}&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;The maintenance is scheduled on {!loop_for_asset_maintenance.Next_Maintance_Date__c} for asset {!loop_for_asset_maintenance.Name}&lt;/p&gt;&lt;p&gt;Please look into this Maintenance carefully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailtemplateformaintenancecoordinatorfor2days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey!! Hope you are doing well... The maintenance is going to happen within days&lt;/p&gt;&lt;p&gt;So, please be aware of this maintenance&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>maintenanceitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance__c</objectType>
    </variables>
    <variables>
        <name>maintenancelist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Maintenance__c</objectType>
    </variables>
    <variables>
        <name>Number_2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
</Flow>
