internalAMS/force-app/main/default/flows/Message_to_Co_ordinator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Mail_to_Co_ordinator</name>
        <label>Mail to Co-ordinator</label>
        <locationX>1370</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Maintenance Follow Up Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MaintenanceSkip</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Mail_to_Co_ordinator</name>
        <label>Mail to Co-ordinator</label>
        <locationX>138</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>User_loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User_loop.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Maintenance Follow Up Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MaintanceMailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Mail_to_Co_ordinator</name>
        <label>Mail to Co-ordinator</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UserLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>UserLoop.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Maintenance Follow Up Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Box_Checking</name>
        <label>Check Box Checking</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Profile_Id</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Box_Checking_2</name>
        <label>Check Box Checking</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Profile_Id</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Box_Checking_6</name>
        <label>Check Box Checking</label>
        <locationX>1414</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Received_For_Maintenance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Profile_Id</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Message to Co-ordinator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message to Co-ordinator</label>
    <loops>
        <name>Loop_User</name>
        <label>Loop User</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <collectionReference>After_6_days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Mail_to_Co_ordinator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_check_box</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>User_loop</name>
        <label>User loop</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Records_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_3_of_Mail_to_Co_ordinator</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>UserLoop</name>
        <label>User Loop</label>
        <locationX>666</locationX>
        <locationY>600</locationY>
        <collectionReference>Copy_1_of_User_Mail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_4_of_Mail_to_Co_ordinator</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>After_6_days</name>
        <label>User Mail</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Profile_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Profile_Id</name>
        <label>Profile Id</label>
        <locationX>666</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_User_Mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Maintenance_Co_ordinator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_User_Mail</name>
        <label>User Mail</label>
        <locationX>666</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Profile_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Profile_Id</name>
        <label>Profile Id</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>After_6_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance Co-ordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>User Mail</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Profile_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Profile_Id</name>
        <label>Profile Id</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Maintenance_Co_ordinator</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_check_box</name>
        <label>Update the check box</label>
        <locationX>1282</locationX>
        <locationY>900</locationY>
        <inputAssignments>
            <field>Asset_Received_For_Maintenance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <object>Maintenance__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Message_to_Co_ordinator</name>
            <connector>
                <targetReference>Check_Box_Checking</targetReference>
            </connector>
            <label>Message to Co-ordinator After 2 days</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Message_to_Co_ordinator_After_4_days</name>
            <connector>
                <targetReference>Check_Box_Checking_2</targetReference>
            </connector>
            <label>Message to Co-ordinator After 4 days</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Message_to_Co_ordinator_After_6_days</name>
            <connector>
                <targetReference>Check_Box_Checking_6</targetReference>
            </connector>
            <label>Message to Co-ordinator After 6 days</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!UserLoop.Name},

      The Maintenance is Created for Asset {!$Record.Name} on {!$Record.CreatedDate}.

     But Still The Asset Is Not Received for Maintenance. Please Follow Up the Maintenance Line-up.

     Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>MaintanceMailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi  {!User_loop.Name},
           The Maintenance is Created for Asset and the Maintance Id is {!$Record.Name} on {!$Record.CreatedDate}.
          But Still The Asset Is Not Received for Maintenance. Please Follow Up the Maintenance Line-up.
         Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>MaintenanceSkip</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi  {!Loop_User.Name},
           The Maintenance is Created for Asset  {!$Record.Name} on {!$Record.CreatedDate}.
          But Still The Asset Is Not Received for Maintenance. Please Follow Up the Maintenance Line-up.
         Thank you.</text>
    </textTemplates>
    <variables>
        <name>UserMailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
